wstataplus.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.objetos.com.uy/wstataplus/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wstataplus" targetNamespace="http://www.objetos.com.uy/wstataplus/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.objetos.com.uy/wstataplus/">
                   
     <xsd:complexType name="TDocumento">
      	<xsd:sequence>
      		<xsd:element name="TipoDocumento" type="xsd:string">
				<xsd:annotation>
                      	<xsd:documentation>'C' Cedula, 'O' Otro</xsd:documentation>
                </xsd:annotation>      		
      		</xsd:element>
      		<xsd:element name="NroDocumento" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
            
  	 <xsd:complexType name="TIDSocio">
      	<xsd:sequence>
      		<xsd:element name="NroSocio" type="xsd:string"></xsd:element>
      		<xsd:element name="CodigoComercioSocio" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
              
      <xsd:complexType name="TDatosSocio">
      	<xsd:sequence>
      		<xsd:element name="Nombre" type="xsd:string"></xsd:element>
      		<xsd:element name="Apellido" type="xsd:string"></xsd:element>
      		<xsd:element name="Sexo" type="xsd:string"></xsd:element>
      		<xsd:element name="FechaNacimiento" type="xsd:string"></xsd:element>
      		<xsd:element name="dir_1" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="dir_2" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="dir_Barrio" type="xsd:string"></xsd:element>
      		<xsd:element name="dir_CodigoPostal" type="xsd:string"></xsd:element>
      		<xsd:element name="dir_Ciudad" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="dir_Departamento" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="TelefonoParticular" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="TelefonoCelular" type="xsd:string"></xsd:element>
      		<xsd:element name="Correo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="TRespOperacion">
			<xsd:sequence>
      			<xsd:element name="resultado" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="textoResultado" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
      		</xsd:sequence>      
      </xsd:complexType>

     <xsd:complexType name="TPuntosSocio">
			<xsd:sequence>
	      		<xsd:element name="TipoDocumento" type="xsd:string"></xsd:element>
		  		<xsd:element name="NroDocumento" type="xsd:string"></xsd:element>
      			<xsd:element name="SaldoPuntos" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="TotalPuntosCanjeados" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="FechaVencimientoPuntos" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>      
      </xsd:complexType>

     <xsd:complexType name="TPuntosSocioSolidarioSucursal">
			<xsd:sequence>
	      		<xsd:element name="NombreInstitucion" type="xsd:string"></xsd:element>
      			<xsd:element name="SaldoPuntos" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>      
      </xsd:complexType>
      
    <xsd:complexType name="TListaPuntosSolidarios">
			<xsd:sequence>
      			<xsd:element name="PuntosCuenta" type="tns:TPuntosSocioSolidarioSucursal" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>      
    </xsd:complexType>
      
      
     <xsd:complexType name="TMovimiento">
			<xsd:sequence>
	      		<xsd:element name="NroMovimiento" type="xsd:string"></xsd:element>
	      		<xsd:element name="FechaMov" type="xsd:string"></xsd:element>
      			<xsd:element name="TipoMov" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
	                      	<xsd:documentation>'RP' Credito Puntos, 'CP' Canje, 'AV' Ajuste por vencimiento</xsd:documentation>
	                </xsd:annotation>      			
	      		</xsd:element>
	      		<xsd:element name="PuntosMov" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
	      		<xsd:element name="SaldoPuntos" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>      
      </xsd:complexType>
      
    <xsd:complexType name="TListaMovmientos">
			<xsd:sequence>
      			<xsd:element name="TipoMov" type="tns:TMovimiento" minOccurs="0" maxOccurs="6"></xsd:element>
      		</xsd:sequence>      
      </xsd:complexType>
      

      <xsd:complexType name="TAltaSocioEntrada">
			<xsd:sequence>
			    <xsd:element name="Documento" type="tns:TDocumento" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="DatosSocios" type="tns:TDatosSocio" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="TipoSocio" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="NroTarjetaPlus" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
		  		<xsd:element name="DocumentoTitular" type="tns:TDocumento" minOccurs="0" maxOccurs="1">
		  			<xsd:annotation>
                        	<xsd:documentation>Solo si el socio nuevo es adicional ('A')</xsd:documentation>
                    </xsd:annotation>
		  		</xsd:element>
      		</xsd:sequence>    
      </xsd:complexType>

      <xsd:complexType name="TModificarDatosSociosEntrada">
			<xsd:sequence>
      			<xsd:element name="Documento" type="tns:TDocumento" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="DatosSocios" type="tns:TDatosSocio" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>    
      </xsd:complexType>
      
     <xsd:complexType name="TConsultaPuntosSocioEntrada">
			<xsd:sequence>
      			<xsd:element name="Documento" type="tns:TDocumento"></xsd:element>
      		</xsd:sequence>    
      </xsd:complexType>

      <xsd:complexType name="TAsociarTarjetaSocioEntrada">
			<xsd:sequence>
      			<xsd:element name="Documento" type="tns:TDocumento"></xsd:element>
      			<xsd:element name="NroTarjetaPlus" type="xsd:string"></xsd:element>
      		</xsd:sequence>    
      </xsd:complexType>

     <xsd:complexType name="TCambiarEstadoTarjetaEntrada">
			<xsd:sequence>
      			<xsd:element name="NroTarjetaPlus" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="NuevoEstado" maxOccurs="1" minOccurs="1">
                        <xsd:annotation>
                        	<xsd:documentation>Estados posibles para la tarjeta</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
      					<xsd:restriction base="xsd:string">
      						<xsd:length value="1"></xsd:length>
      						<xsd:enumeration value="A"></xsd:enumeration>
      						<xsd:enumeration value="B"></xsd:enumeration>
      						<xsd:enumeration value="C"></xsd:enumeration>
      						<xsd:enumeration value="X"></xsd:enumeration>
      						<xsd:enumeration value="I"></xsd:enumeration>
      					</xsd:restriction>
      				</xsd:simpleType>
      			</xsd:element>
			</xsd:sequence>    
      </xsd:complexType>


      <xsd:complexType name="TConsultaDatosSociosEntrada">
			<xsd:sequence>
      			<xsd:element name="Documento" type="tns:TDocumento" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>    
      </xsd:complexType>


    <xsd:complexType name="TTarjetaPlus">
			<xsd:sequence>
					<xsd:element name="NroTarjetaPlus" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="EstadoTarjeta" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="FechaHoraEstado" type="xsd:string"></xsd:element>
      		</xsd:sequence>      
    </xsd:complexType>


	<xsd:complexType name="TListaTarjetas">
			<xsd:sequence>
				<xsd:element name="TipoMov" type="tns:TTarjetaPlus" maxOccurs="unbounded" minOccurs="0"></xsd:element>
			</xsd:sequence>      
	</xsd:complexType>



     <xsd:element name="DatosSocios" type="tns:TDatosSocio">
      	<xsd:annotation>
      		<xsd:documentation>Datos del Socio</xsd:documentation>
      	</xsd:annotation>
     </xsd:element>
    
      
      <xsd:element name="AltaSocioResponse" type="tns:TRespOperacion">
      	<xsd:annotation>
      		<xsd:documentation>Resultado de la operacion</xsd:documentation>
      	</xsd:annotation>
     </xsd:element>
      
	  <xsd:element name="AltaSocioEntrada" type="tns:TAltaSocioEntrada"></xsd:element>

      <xsd:element name="TipoSocio" type="xsd:string">
      	<xsd:annotation>
      		<xsd:documentation>Tipo de Socio: 'T' = Titular, 'A' = Adiccional</xsd:documentation>
      	</xsd:annotation></xsd:element>
      	
	 <xsd:element name="Documento" type="tns:TDocumento">
		<xsd:annotation>
      		<xsd:documentation>Tipo y numero de documento del socio ('C' = cedula, 'O' = otro)</xsd:documentation>
      	</xsd:annotation>	 
	 </xsd:element>      	
      	
      <xsd:element name="NroTarjetaPlus" type="xsd:string">
      	<xsd:annotation>
      		<xsd:documentation>Numero de tarjeta Plus asignada al socio a dar de alta</xsd:documentation>
      	</xsd:annotation>
      </xsd:element>
      
     <xsd:element name="ModificarDatosSociosEntrada" type="tns:TModificarDatosSociosEntrada">
      	<xsd:annotation>
      		<xsd:documentation>Datos requeridos por la operacion</xsd:documentation>
      	</xsd:annotation>
     </xsd:element>
      
      <xsd:element name="ModificarDatosSociosResponse" type="tns:TRespOperacion">
      	<xsd:annotation>
      		<xsd:documentation>Resultado de la operacion</xsd:documentation>
      	</xsd:annotation>
     </xsd:element>

 
	  <xsd:element name="ConsultaPuntosSocioEntrada" type="tns:TConsultaPuntosSocioEntrada">
      	<xsd:annotation>
      		<xsd:documentation>Datos de entrada requeridos por la operacion</xsd:documentation>
      	</xsd:annotation>
      </xsd:element>

      <xsd:element name="ConsultaPuntosSocioResponse">
	      <xsd:complexType>
	      		<xsd:sequence>
	      			<xsd:element name="Respuesta" type="tns:TRespOperacion" minOccurs="1" maxOccurs="1"></xsd:element>
	      			<xsd:element name="DatosPuntos" type="tns:TPuntosSocio" minOccurs="0" maxOccurs="1"></xsd:element>
	      			<xsd:element name="UltimosMovimientos" type="tns:TListaMovmientos" minOccurs="0" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
	      </xsd:complexType>
      </xsd:element>
      
      
     <xsd:element name="AsociarTarjetaSocioEntrada" type="tns:TAsociarTarjetaSocioEntrada">
      	<xsd:annotation>
      		<xsd:documentation>Datos de entrada requeridos por la operacion</xsd:documentation>
      	</xsd:annotation>
     </xsd:element>

      <xsd:element name="AsociarTarjetaSocioResponse">
	      <xsd:complexType>
	      		<xsd:sequence>
	      			<xsd:element name="Respuesta" type="tns:TRespOperacion" minOccurs="1" maxOccurs="1"></xsd:element>
	      		</xsd:sequence>
	      </xsd:complexType>
      </xsd:element>
                        
     <xsd:element name="CambiarEstadoTarjetaEntrada" type="tns:TCambiarEstadoTarjetaEntrada">
      	<xsd:annotation>
      		<xsd:documentation>Datos de entrada requeridos por la operacion</xsd:documentation>
      	</xsd:annotation>
     </xsd:element>

      <xsd:element name="CambiarEstadoTarjetaResponse">
	      <xsd:complexType>
	      		<xsd:sequence>
	      			<xsd:element name="Respuesta" type="tns:TRespOperacion" minOccurs="1" maxOccurs="1"></xsd:element>
	      		</xsd:sequence>
	      </xsd:complexType>
      </xsd:element>
                 
     <xsd:element name="ConsultaDatosSociosEntrada" type="tns:TConsultaDatosSociosEntrada">
      	<xsd:annotation>
      		<xsd:documentation>Datos requeridos por la operacion</xsd:documentation>
      	</xsd:annotation>
     </xsd:element>
      
      <xsd:element name="ConsultaDatosSociosResponse">
	      <xsd:complexType>
	      		<xsd:sequence>
	      			<xsd:element name="Respuesta" type="tns:TRespOperacion" minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="DatosSocios" type="tns:TDatosSocio" minOccurs="0" maxOccurs="1"></xsd:element>
					<xsd:element name="TipoSocio" type="xsd:string" minOccurs="0" maxOccurs="1">
			      		<xsd:annotation>
      						<xsd:documentation>Tipo de Socio: 'T' = Titular, 'A' = Adiccional</xsd:documentation>
			      		</xsd:annotation>
					</xsd:element>
					<xsd:element name="ListaTarjetas" type="tns:TListaTarjetas" maxOccurs="1" minOccurs="0"></xsd:element>
	      		</xsd:sequence>
	    </xsd:complexType>
     </xsd:element>

      <xsd:element name="ConsultaPuntosSolidarios">
      </xsd:element>
      
      <xsd:element name="ConsultaPuntosSolidariosResponse">
	      <xsd:complexType>
	      		<xsd:sequence>
	      			<xsd:element name="Respuesta" type="tns:TRespOperacion" minOccurs="1" maxOccurs="1"></xsd:element>
	      			<xsd:element name="ListaPuntosSolidarios" type="tns:TListaPuntosSolidarios" minOccurs="0" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="AltaSocioRequest">    <wsdl:part name="parameters" element="tns:AltaSocioEntrada"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="AltaSocioResponse">
    <wsdl:part name="parameters" element="tns:AltaSocioResponse"/>
  </wsdl:message>

  <wsdl:message name="ModificarDatosSociosRequest">
  	<wsdl:part name="parameters" element="tns:ModificarDatosSociosEntrada"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="ModificarDatosSociosResponse">
  	<wsdl:part name="parameters" element="tns:ModificarDatosSociosResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="ConsultaPuntosSocioRequest">
  	<wsdl:part name="parameters" element="tns:ConsultaPuntosSocioEntrada"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="ConsultaPuntosSocioResponse">
  	<wsdl:part name="parameters" element="tns:ConsultaPuntosSocioResponse"></wsdl:part>
  </wsdl:message>


  <wsdl:message name="AsociarTarjetaSocioRequest">
  	<wsdl:part name="parameters" element="tns:AsociarTarjetaSocioEntrada"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="AsociarTarjetaSocioResponse">
  	<wsdl:part name="parameters" element="tns:AsociarTarjetaSocioResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="CambiarEstadoTarjetaRequest">
  	<wsdl:part name="parameters" element="tns:CambiarEstadoTarjetaEntrada"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CambiarEstadoTarjetaResponse">
  
  	<wsdl:part name="parameters" element="tns:CambiarEstadoTarjetaResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="ConsultaDatosSocioRequest">
  	<wsdl:part name="parameters" element="tns:ConsultaDatosSociosEntrada"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="ConsultaDatosSocioResponse">
  	<wsdl:part name="parameters" element="tns:ConsultaDatosSociosResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="ConsultaPuntosSolidariosRequest">
  	<wsdl:part name="parameters" element="tns:ConsultaPuntosSolidarios"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="ConsultaPuntosSolidariosResponse">
  	<wsdl:part name="parameters" element="tns:ConsultaPuntosSolidariosResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="wstataplus">
  
    <wsdl:operation name="AltaSocio">
      <wsdl:documentation>Permite realizar el alta de socio titular o adiccional.</wsdl:documentation>
      <wsdl:input message="tns:AltaSocioRequest"/>
      <wsdl:output message="tns:AltaSocioResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="ModificarDatosSocios">
    	<wsdl:documentation>Permite modificar los datos de un socio</wsdl:documentation>
    	<wsdl:input message="tns:ModificarDatosSociosRequest"></wsdl:input>
    	<wsdl:output message="tns:ModificarDatosSociosResponse"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ConsultaPuntosSocio">
   	 	<wsdl:documentation>Permite consultar los puntos de un socio</wsdl:documentation>
    	<wsdl:input message="tns:ConsultaPuntosSocioRequest"></wsdl:input>
    	<wsdl:output message="tns:ConsultaPuntosSocioResponse"></wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="AsociarTarjetaSocio">
    	<wsdl:input message="tns:AsociarTarjetaSocioRequest"></wsdl:input>
    	<wsdl:output message="tns:AsociarTarjetaSocioResponse"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CambiarEstadoTarjeta">
    	<wsdl:input message="tns:CambiarEstadoTarjetaRequest"></wsdl:input>
    	<wsdl:output message="tns:CambiarEstadoTarjetaResponse"></wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ConsultaDatosSocio">
    	<wsdl:input message="tns:ConsultaDatosSocioRequest"></wsdl:input>
    	<wsdl:output message="tns:ConsultaDatosSocioResponse"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ConsultaPuntosSolidarios">
    	<wsdl:input message="tns:ConsultaPuntosSolidariosRequest"></wsdl:input>
    	<wsdl:output message="tns:ConsultaPuntosSolidariosResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="wstataplusSOAP" type="tns:wstataplus">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />

  	<wsdl:operation name="AltaSocio">
  		<soap:operation
  			soapAction="http://www.objetos.com.uy/wstataplus/AltaSocio" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="ModificarDatosSocios">
  		<soap:operation
  			soapAction="http://www.objetos.com.uy/wstataplus/ModificarDatosSocios" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="ConsultaPuntosSocio">
  		<soap:operation
  			soapAction="http://www.objetos.com.uy/wstataplus/ConsultaPuntosSocio" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="AsociarTarjetaSocio">
  		<soap:operation
  			soapAction="http://www.objetos.com.uy/wstataplus/AsociarTarjetaSocio" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="CambiarEstadoTarjeta">
  		<soap:operation
  			soapAction="http://www.objetos.com.uy/wstataplus/CambiarEstadoTarjeta" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="ConsultaDatosSocio">
  		<soap:operation
  			soapAction="http://www.objetos.com.uy/wstataplus/ConsultaDatosSocio" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="ConsultaPuntosSolidarios">
  		<soap:operation
  			soapAction="http://www.objetos.com.uy/wstataplus/ConsultaPuntosSolidarios" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>


  <wsdl:service name="wstataplus">
    <wsdl:documentation>Servicio con operaciones sobre la base de TataPlu</wsdl:documentation>
    <wsdl:port binding="tns:wstataplusSOAP" name="wstataplusSOAP">
      <soap:address location="http://192.168.90.128/wsplus/wsplus.php"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>